/* main page */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(
    to right,
    rgba(200, 182, 134, 1) 49%,
    rgba(10, 67, 51, 1) 100%
  ); */
  /* background: rgba(1, 98, 33, 1); */
  background: rgba(200, 182, 134, 1);
  padding: 0px;
  margin: 0px;
}

/* Header component */
header {
  background-color: rgba(10, 67, 51, 1);
  position: fixed;
  /* height: 50px; */
  left: 0;
  width: 100%;

  padding: 10px;
}

.navbar {
  display: flex;
  list-style-type: none;
  border: solid rebeccapurple 2px;
  /* margin: 0 auto; */
}

.navelement {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

.navelement_active {
  background-color: rgb(255, 255, 255);
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid white;
}

.navelement:hover {
  background-color: grey;
}

.spacer {
  height: 75px;
}

/* section component */
.Section {
  color: white;
  margin: 0 auto;
  background-color: rgba(10, 67, 51, 1);
  justify-content: center;
  justify-items: center;
  display: grid;
  border: solid black 5px;
  border-radius: 25px;
  max-width: 1500px;
  width: 95%;

  margin-top: 5px;
  padding: 20px;
}

.section-url {
  background-color: rgb(0, 123, 41);
  color: white;
  border-radius: 15px;
  padding: 15px;
  border: 5px solid rgb(119, 119, 119);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  justify-items: center;
}

.section-url:hover {
  background-color: rgb(2, 199, 2);
  color: rgb(45, 45, 45);
}
