
body {
font-family: Arial, Helvetica, sans-serif;
/* background: linear-gradient(to right, #006d1f, #6c7715); */
background-image: url( './resources/wave-haikei.svg' );
background-position: center;
background-size: cover;
}

a {
text-decoration: none;
font-weight: bold;
}

.linkBox {
display: flex;
flex-direction: column;
text-align: center;
background: linear-gradient(145deg, #828282, #4a4a4a);
box-shadow:  5px 5px 10px #1e1e1e,
             -5px -5px 10px #6c6c6c;
color: #fff;
padding: 12px 24px;
cursor: pointer;
border-radius: 25px;
margin: 10px;
width:75%;
max-width: 500px;
}

.linkBox:hover {
    background: linear-gradient(145deg, #ffffff, #4a4a4a);
}

.links {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo {
display: block;
margin: 0 auto;
width: 100%;
height: 100%;
max-width: 300px;
max-height: 500px;

}

.socials {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.socials img {
max-width: 100px;
max-height: 100px;
margin-right: 20px;
}